settings set prompt "lldb$ "

settings set thread-format thread #${thread.index}: tid = ${thread.id%tid}{, ${frame.pc}}{ ${module.file.basename}{`${function.name-with-args}${function.pc-offset}}}{ at ${line.file.basename}:${line.number}}{, name = '${thread.name}'}{, queue = '${thread.queue}'}{, activity = '${thread.info.activity.name}'}{, ${thread.info.trace_messages} messages}{, stop reason = ${thread.stop-reason}}{\nReturn value: ${thread.return-value}}{\nCompleted expression: ${thread.completed-expression}}\n

settings set frame-format frame #${frame.index}: ${frame.pc}{ ${module.file.basename}{`${function.name-with-args}${function.pc-offset}}}{ at ${line.file.basename}:${line.number}}\n

settings set disassembly-format ${current-pc-arrow}\t ${addr-file-or-load}{ <${module.file.basename}`${function.name-without-args}${function.concrete-only-addr-offset-no-padding}>}: 

settings set target.max-memory-read-size 4096

command alias mr memory read --format x --size 8 --count 1
command alias rf re r -f b rflags